form {
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
}

input {
  padding: 5px 10px;
  border: none;
  outline: none;
  transition: border-color 0.4s ease;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.plus-btn {
  margin-bottom: 15px;
  margin-top: 15px;
}