.label-element {

  padding: 0.5rem;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
}

.label-element input {
  border: 1px solid red;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.label-ingredients {

  width: 100%;
}